* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

:root {
  --primaryColor: #b2afaf;
  --secondaryColor: #af8f68;
  --tertiaryColor: #f5a13abb;
}

body {
  background: rgba(255, 255, 255, 0.425);
  overflow-x: hidden;
}

a {
  text-decoration: none;
}
